@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    margin: 0;
}

body{
    background: hsl(233, 47%, 7%);
}

.attribution { 
    display: block;
    font-size: 1rem; 
    text-align: center; 
    color: white;
}

.attribution a { 
    color: green 
}

.card-container{
    background: hsl(233, 47%, 7%);
    padding-top: 10vh;
    padding-bottom: 5vh;
    /* height: auto; */
    width: auto;
}

.card{
    display: flex;
    background-color:hsl(244, 38%, 16%);
    width: 90%;
    margin: auto;
    flex-direction: column-reverse;
    border-radius: 10px;
    height: auto;
    
}

.card-text-container {
    width:100%;
    padding: 1.8em 0px 1.5em 0px;
    /* min-height: auto; */
    
    
}

.card-text {
    width:90%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    margin:auto;
    /* height: auto; */
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: center;
    row-gap: 1rem;
    color: hsla(0, 0%, 100%, 0.75)
    
}

.card-text h1 {
    color: hsl(0, 0%, 100%);
    grid-column-start: span 3;
    margin: 0px;
    font-size: 1.8rem;
}


.accent {
    color:hsl(277, 64%, 61%);
}

.paragraph{
    grid-column-start: span 3;
    margin: 0px;
    line-height: 1.5rem;
}

.stats {
    color: hsla(0, 0%, 100%, 0.6);
    grid-column-start: span 3;
    padding-top:0.5em;
}

.stats ul {
    display: flex;
    padding: 0;
    margin-block: 0px;
    flex-direction: column;
    text-decoration: none;
    
}

.stats li {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.5em;
    
    
}

.stats-figures{
    padding: 5px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.5rem;
}

.stats-words{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.8rem;
}

.card-image {
   width: 100%;
   border-radius:10px 10px 0px 0px;
   min-height: 260px;
   background: url("./images/image-header-mobile.jpg"),  hsla(277, 54%, 31%, 0.781);/**hsl(277, 38%, 35%),rgba(100, 2, 156);**/
   background-size: cover;
   background-blend-mode: overlay;
   overflow: hidden;
   
}

@media screen and (min-width: 500px){
    .stats ul {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
}


}



/**at min:width of 768px**/
@media screen and (min-width: 768px){

    .card-container{
        width: 100%;
        /* height: auto; */
        display: flex;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    .card{
        flex-direction: row;
        width: 90vw;
        margin: auto;
    }

    .card-text-container{
        /* padding: 4em; */
        min-width: 10vw;
        width:50%;
        /* min-height: 40vh; */
    }

    .card-text{
        text-align: left;
        /* width: 90%; */
        min-height: 350px;
        /* padding-top: 5%; */
        /* padding-bottom: 10%; */
        /* max-height: 55vh; */
        width: 90%;
        
    }

    .card-text h1{
        font-size: 2.5rem;
    }

    .card-text p {
        font-size: 1.1rem;
        line-height: 1.6rem
    }

  
    .card-image {
        border-radius:0px 10px 10px 0px;
        background: url("./images/image-header-desktop.jpg"),  hsla(277, 54%, 31%, 0.781);/**hsl(277, 38%, 35%),rgba(100, 2, 156);**/
        background-repeat: no-repeat;
        background-size:100% 100%;
        /* padding: 4em; */
        /* min-width: 306px; */
        min-width: 10vw;
        width:50%;
        /* min-height: 50vh; */
        /* max-width: 100%;
        height: auto; */
     }

     .stats{
         padding-top:0;
     }

     .stats ul {
         flex-direction: row;
         justify-content:flex-start;
         width: 100%;
         height: 100%;
     }

     .stats li{
         width: 30%;
         text-align: left;
         align-self: center;
     }

     .stats-figures{
        padding: 5px;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    .stats-words{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
    }

}


/**at min:width of 1025px**/
@media screen and (min-width: 1025px){

    .card{
        flex-direction: row;
        width: 70vw;
        margin: auto;
    }

    .card-text{
        text-align: left;
        /* width: 90%; */
        min-height: 350px;
        /* padding-top: 5%; */
        /* padding-bottom: 10%; */
        /* max-height: 55vh; */
        width: fit-content;
        margin: 0 0 0 5% 
        
    }

    .card-text p {
        width: 95%;
    }

}

/**at min:width of 1280px**/
@media screen and (min-width: 1280px){

    .card{
        width: 65vw;
    }

}

/**at min:width of 1600px**/
@media screen and (min-width: 1600px){

    .card{
        width: 50vw;
    }

}